@font-face {
  font-family: "AvenirRegular";
  src: url("../assets/font/AvenirNextLTProRegular.otf");
}

@font-face {
  font-family: "AvenirBold";
  src: url("../assets/font/AvenirNextLTProBold.otf");
}

@font-face {
  font-family: "AvenirDemi";
  src: url("../assets/font/AvenirNextLTProDemi.otf");
}

@font-face {
  font-family: "AvenirThin";
  src: url("../assets/font/AvenirNextLTProThin.otf");
}

/* media query for tablet */
/* media query for high px density desktop */
.header {
  height: 10.5625rem;
  border-bottom: 0.0625rem solid #e1e1e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search {
  position: relative;
}

.header__search--icon {
  position: absolute;
  top: 0.9375rem;
  left: 0.625rem;
}

.header__search--input {
  border: 0.0625rem solid #e1e1e1;
  border-radius: 0.25rem;
  width: 90vw;
  height: 3rem;
  padding-left: 2.1875rem;
  outline: none;
}

.header__search--input:placeholder-shown {
  padding-left: 2.1875rem;
  font-family: AvenirRegular;
}

.header__search--input:hover {
  border: 0.0625rem solid #0065ad;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5rem 0 1rem;
}

.header__bottom--button {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
  width: 14.125rem;
  background-color: #0095ff;
  border-color: #0095ff;
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fff;
}

.header__bottom--button:hover {
  background-color: #0065ad;
  border-color: #0065ad;
}

.header__bottom--image {
  margin-left: 1rem;
}

.header__bottom--image .image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .header {
    height: 5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__logo {
    width: 124px;
    margin-right: 10.5625rem;
  }
  .header__search--input {
    width: 14.375rem;
    margin-right: 1.5rem;
  }
  .header__bottom {
    margin: unset;
  }
  .header__bottom--button {
    width: 6.25rem;
  }
  .header__bottom--button .text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: AvenirDemi;
  }
  .header__bottom--image {
    margin-left: 1.5rem;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    border-bottom: unset;
  }
  .header__logo {
    width: 148px;
    margin-right: 31.8125rem;
  }
}

.hero {
  position: relative;
}

.hero__video {
  height: 57vw;
  width: 100%;
  outline: none;
}

@media only screen and (min-width: 768px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 1.5rem;
    background-color: #000;
    height: 52vw;
  }
  .hero__video {
    width: 91vw;
    height: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    padding: 0 11.25rem;
    height: 36vw;
  }
  .hero__video {
    width: 66vw;
  }
}

.highlights {
  margin: 2rem 1rem 2.5rem;
}

.highlights__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: AvenirBold;
  margin-bottom: 1rem;
}

.highlights__flex {
  border-bottom: 0.125rem solid #e1e1e1;
}

.highlights__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.highlights__container--subtitle {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
  margin-right: 0.5rem;
  margin-bottom: 2rem;
}

.highlights__container--thin-label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: AvenirDemi;
  color: #afafaf;
}

.highlights__container--icon {
  margin-right: 0.5rem;
  margin-bottom: 1.5rem;
}

.highlights__container--para {
  margin-right: 1rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: AvenirRegular;
}

.highlights__para {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: AvenirRegular;
  padding-top: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .highlights {
    margin: 3rem 1.5rem 4rem;
  }
  .highlights__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: AvenirBold;
    margin-bottom: 1.5rem;
  }
  .highlights__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .highlights__container--subtitle {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: AvenirDemi;
  }
  .highlights__container--thin-label {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: AvenirDemi;
  }
  .highlights__container--para {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: AvenirRegular;
    margin-right: 1.5rem;
  }
  .highlights__para {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: AvenirRegular;
    padding-top: 2.5rem;
    width: 61%;
  }
}

@media only screen and (min-width: 1440px) {
  .highlights__container--para {
    margin-right: 2rem;
  }
  .highlights__para {
    width: 70%;
  }
}

.comments {
  margin: 0 1rem;
}

.comments__title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
  margin-bottom: 2rem;
}

.comments__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 0.0625rem solid #e1e1e1;
}

.comments__container--img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-right: 1rem;
}

.comments__container--section {
  width: 100%;
}

.comments__container--section .new-comment__title {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: AvenirDemi;
  color: #afafaf;
}

.comments__container--section .new-comment__textarea {
  border: 0.125rem solid #0095ff;
  border-radius: 0.25rem;
  width: 100%;
  resize: vertical;
  height: 9.375rem;
  padding-left: 0.625rem;
  padding-top: 0.625rem;
  outline: none;
}

.comments__container--section .new-comment__textarea:focus, .comments__container--section .new-comment__textarea:hover {
  cursor: pointer;
  border: 0.125rem solid #0065ad;
}

.comments__container--section .new-comment__textarea:placeholder-shown {
  padding-left: 0.625rem;
  padding-top: 0.625rem;
  font-family: AvenirRegular;
}

.comments__container--section .button {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
  color: #fff;
  background-color: #0095ff;
  border-color: #0095ff;
  border-radius: 0.25rem;
  width: 100%;
  margin: 1rem 0 1.5rem;
  padding: 0.9375rem;
  outline: none;
}

.comments__container--section .button:hover {
  background-color: #0065ad;
  border-color: #0065ad;
  cursor: pointer;
}

.comments__old {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.0625rem solid #e1e1e1;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.comments__old--user-img {
  height: 48px;
  width: 48px;
  background-color: #e1e1e1;
  border-radius: 50%;
  margin-right: 1rem;
}

.comments__old--user-content {
  width: 82vw;
}

.comments__old--user-content .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.3125rem;
}

.comments__old--user-content .text__name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
}

.comments__old--user-content .text__date {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: AvenirDemi;
  color: #afafaf;
}

.comments__old--user-content .comment {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: AvenirRegular;
}

@media only screen and (min-width: 768px) {
  .comments {
    margin: 0 1.5rem;
  }
  .comments__title {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: AvenirDemi;
  }
  .comments__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .comments__container--section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .comments__container--section .new-comment {
    width: 27.5rem;
  }
  .comments__container--section .new-comment__title {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: AvenirDemi;
  }
  .comments__container--section .new-comment__textarea {
    width: 100%;
    height: unset;
    min-height: 2.5rem;
  }
  .comments__container--section .button {
    width: 10rem;
    padding: 0.5rem;
    margin: 1.25rem 2.5rem 0.625rem 1rem;
  }
  .comments__old--user-content {
    width: unset;
  }
  .comments__old--user-content .text {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .comments__old--user-content .text__name {
    margin-right: 0.625rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: AvenirDemi;
  }
  .comments__old--user-content .text__date {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: AvenirDemi;
  }
  .comments__old--user-content .comment {
    width: 81vw;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: AvenirRegular;
  }
}

@media only screen and (min-width: 1440px) {
  .comments__container--section .new-comment {
    width: 27.25rem;
  }
  .comments__old {
    width: 44.5rem;
  }
  .comments__old--user-content .comment {
    width: 38.5rem;
  }
}

.next-video {
  margin: 2.5rem 1rem 0;
}

.next-video__title {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: AvenirDemi;
  margin-bottom: 2.5rem;
  color: #afafaf;
}

.next-video__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.next-video__container--img {
  height: 70px;
  width: 120px;
  margin-bottom: 1.5rem;
  margin-right: 1rem;
  border-radius: 0.25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.next-video__container--text {
  height: 4.375rem;
  max-width: 10.5rem;
  color: #323232;
}

.next-video__container--text:hover {
  color: #0065ad;
}

.next-video__container--text .title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.next-video__container--text .creator {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: AvenirRegular;
}

@media only screen and (min-width: 768px) {
  .next-video {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .next-video__title {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: AvenirDemi;
  }
  .next-video__container--text {
    width: 24vw;
  }
  .next-video__container--text .title {
    width: 11.125rem;
    overflow: unset;
    white-space: unset;
    margin-bottom: 0.3125rem;
  }
}

@media only screen and (min-width: 1440px) {
  #huge-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 11.25rem;
  }
  #huge-flex__right .next-video {
    margin-left: 0;
    margin-right: 0;
  }
}

.uploads {
  margin: 1.5rem 1rem 1.5rem;
}

.uploads__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: AvenirBold;
  margin-bottom: 2rem;
  color: #323232;
}

.uploads__container--left .title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
  color: #afafaf;
}

.uploads__container--left .image {
  width: 90vw;
  height: 48vw;
  margin-bottom: 2rem;
  border-radius: 0.25rem;
}

.uploads__container--right .video-content .title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
  color: #afafaf;
}

.uploads__container--right .video-content .input {
  width: 100%;
  height: 2.5rem;
  border: 0.0625rem solid #e1e1e1;
  background-color: #fafafa;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  padding-left: 0.5rem;
  outline: none;
}

.uploads__container--right .video-content .input:hover, .uploads__container--right .video-content .input:focus {
  border: 0.0625rem solid #0065ad;
}

.uploads__container--right .video-content .input:placeholder-shown {
  padding-left: 0.5rem;
  font-family: AvenirRegular;
}

.uploads__container--right .video-content .textarea {
  width: 100%;
  min-height: 45vw;
  border: 0.0625rem solid #e1e1e1;
  background-color: #fafafa;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  resize: vertical;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  outline: none;
}

.uploads__container--right .video-content .textarea:hover, .uploads__container--right .video-content .textarea:focus {
  border: 0.0625rem solid #0065ad;
}

.uploads__container--right .video-content .textarea:placeholder-shown {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  font-family: AvenirRegular;
}

.uploads__container--right .video-content .button .publish {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
  width: 100%;
  height: 40px;
  background-color: #0095ff;
  border: 0.0625rem solid #0095ff;
  border-radius: 0.25rem;
  color: #fafafa;
  outline: none;
}

.uploads__container--right .video-content .button .publish:hover {
  border: 0.0625rem solid #0065ad;
  background-color: #0065ad;
  cursor: pointer;
}

.uploads__container--right .video-content .button .cancel {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
  width: 100%;
  height: 2.5rem;
  color: #0095ff;
  margin-top: 1.5rem;
  border-radius: 0.25rem;
  outline: none;
}

.uploads__container--right .video-content .button .cancel:hover {
  border: 0.0625rem solid #0065ad;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .uploads {
    margin: 3rem 1.5rem 6.25rem;
  }
  .uploads__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: AvenirBold;
    padding-bottom: 2rem;
    border-bottom: 0.0625rem solid #e1e1e1;
    margin-bottom: 2.5rem;
  }
  .uploads__container--left .title {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: AvenirDemi;
  }
  .uploads__container--left .image {
    width: 45vw;
    height: 24vw;
    margin-bottom: 2.5rem;
  }
  .uploads__container--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .uploads__container--right .video-content .title {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: AvenirDemi;
  }
  .uploads__container--right .video-content .textarea {
    margin-bottom: 2.5rem;
    min-height: 8.75rem;
  }
  .uploads__container--right .video-content .button {
    border-top: 0.0625rem solid #e1e1e1;
    width: 100%;
    padding-top: 2.5rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .uploads__container--right .video-content .button .publish {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: AvenirDemi;
    margin-left: 3rem;
    width: 160px;
  }
  .uploads__container--right .video-content .button .cancel {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: AvenirDemi;
    margin: unset;
    width: 10rem;
  }
}

@media only screen and (min-width: 1440px) {
  .uploads {
    margin-left: 11.25rem;
    margin-right: 11.25rem;
  }
  .uploads__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .uploads__container--left {
    margin-right: 1.5rem;
  }
  .uploads__container--left .image {
    width: 24vw;
    height: 13vw;
    margin: unset;
  }
  .uploads__container--right {
    width: 100%;
  }
  .uploads__container--right .video-content .textarea {
    height: 5.875rem;
  }
}

*,
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */