@import "./partials/colors";
@import "./partials/fonts";
@import "./partials/breakpoints";
@import "./partials/header";
@import "./partials/hero";
@import "./partials/highlights";
@import "./partials/comments";

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
