.next-video {
  margin: 40px 16px 0;
  &__title {
    @include mobile-labels;
    margin-bottom: 40px;
    color: $text-label;
  }
  &__container {
    display: flex;
    text-decoration: none;
    &--img {
      height: 70px;
      width: 120px;
      margin-bottom: 24px;
      margin-right: 16px;
      border-radius: 4px;
      object-fit: cover;
    }
    &--text {
      height: 70px;
      max-width: 168px;
      color: $para-and-nav;
      &:hover {
        color: $cta-hover;
      }
      .title {
        @include mobile-subheader;
        margin-bottom: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .creator {
        @include mobile-paragraph;
      }
    }
  }
}

@include medium {
  .next-video {
    margin-left: 24px;
    margin-right: 24px;
    &__title {
      @include desk-tablet-labels;
    }
    &__container {
      &--text {
        width: 24vw;
        height: 70px;
        .title {
          width: 178px;
          overflow: unset;
          white-space: unset;
          margin-bottom: 5px;
        }
      }
    }
  }
}

@include huge {
  #huge-flex {
    display: flex;
    margin: 0 180px;
    &__right {
      .next-video {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
