.uploads {
  margin: 24px 16px 24px;
  &__title {
    @include mobile-header;
    margin-bottom: 32px;
  }
  &__container {
    &--flex {
      .title {
        @include mobile-subheader;
        color: $text-label;
      }
      .image {
        width: 90vw;
        height: 48vw;
        margin-bottom: 32px;
        border-radius: 4px;
      }
      .input {
        width: 100%;
        height: 40px;
        border: 1px solid $text-border;
        background-color: $text-bg-fill;
        border-radius: 4px;
        margin-bottom: 24px;
        &:placeholder-shown {
          padding-left: 8px;
          font-family: AvenirRegular;
        }
      }
      .textarea {
        width: 100%;
        min-height: 45vw;
        border: 1px solid $text-border;
        background-color: $text-bg-fill;
        border-radius: 4px;
        margin-bottom: 32px;
        resize: vertical;
        &:placeholder-shown {
          padding-left: 8px;
          padding-top: 8px;
          font-family: AvenirRegular;
        }
      }
    }
    &--button-publish {
      width: 100%;
      height: 40px;
      background-color: $cta-text-link;
      border: 1px solid $cta-text-link;
      border-radius: 4px;
      color: $text-bg-fill;
      @include mobile-subheader;
      // border-bottom: 24px;
      &:hover {
        border: 1px solid $cta-hover;
        background-color: $cta-hover;
      }
    }
    &--button-cancel {
      width: 100%;
      height: 40px;
      color: $cta-text-link;
      @include mobile-subheader;
    }
  }
}

// focus, outline
