.comments {
  margin: 0 1rem;
  &__title {
    @include mobile-subheader;
    margin-bottom: 2rem;
  }
  &__container {
    display: flex;
    justify-content: flex-start;
    border-bottom: 0.0625rem solid $text-border;
    &--img {
      height: 48px;
      width: 48px;
      border-radius: 50%;
      margin-right: 1rem;
    }
    &--section {
      width: 100%;
      .new-comment {
        &__title {
          @include mobile-labels;
          color: $text-label;
        }
        &__textarea {
          border: 0.125rem solid $cta-text-link;
          border-radius: 0.25rem;
          width: 100%;
          resize: vertical;
          height: 9.375rem;
          padding-left: 0.625rem;
          padding-top: 0.625rem;
          outline: none;
          &:focus,
          &:hover {
            cursor: pointer;
            border: 0.125rem solid $cta-hover;
          }
          &:placeholder-shown {
            padding-left: 0.625rem;
            padding-top: 0.625rem;
            font-family: AvenirRegular;
          }
        }
      }
      .button {
        @include mobile-subheader;
        color: $white;
        background-color: $cta-text-link;
        border-color: $cta-text-link;
        border-radius: 0.25rem;
        width: 100%;
        margin: 1rem 0 1.5rem;
        padding: 0.9375rem;
        outline: none;
        &:hover {
          background-color: $cta-hover;
          border-color: $cta-hover;
          cursor: pointer;
        }
      }
    }
  }
  &__old {
    display: flex;
    border-bottom: 0.0625rem solid $text-border;
    margin-top: 1rem;
    padding-bottom: 1rem;
    &--user-img {
      height: 48px;
      width: 48px;
      background-color: $text-border;
      border-radius: 50%;
      margin-right: 1rem;
    }
    &--user-content {
      width: 82vw;
      .text {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.3125rem;
        &__name {
          @include mobile-subheader;
        }
        &__date {
          @include mobile-labels;
          color: $text-label;
        }
      }
      .comment {
        @include mobile-paragraph;
      }
    }
  }
}

@include medium {
  .comments {
    margin: 0 1.5rem;
    &__title {
      @include desk-tablet-subheader;
    }
    &__container {
      align-items: center;
      &--section {
        display: flex;
        justify-content: flex-start;
        .new-comment {
          width: 27.5rem;
          &__title {
            @include desk-tablet-labels;
          }
          &__textarea {
            width: 100%;
            height: unset;
            min-height: 2.5rem;
          }
        }
        .button {
          width: 10rem;
          padding: 0.5rem;
          margin: 1.25rem 2.5rem 0.625rem 1rem;
        }
      }
    }
    &__old {
      &--user-content {
        width: unset;
        .text {
          justify-content: unset;
          &__name {
            margin-right: 0.625rem;
            @include desk-tablet-subheader;
          }
          &__date {
            @include desk-tablet-labels;
          }
        }
        .comment {
          width: 81vw;
          @include desk-tablet-para-comment;
        }
      }
    }
  }
}

@include huge {
  .comments {
    &__container {
      &--section {
        .new-comment {
          width: 27.25rem;
        }
      }
    }
    &__old {
      width: 44.5rem;
      &--user-content {
        .comment {
          width: 38.5rem;
        }
      }
    }
  }
}
