.header {
  height: 10.5625rem;
  border-bottom: 0.0625rem solid $text-border;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__logo {
    height: 48px;
    display: flex;
  }
  &__search {
    position: relative;
    &--icon {
      position: absolute;
      top: 0.9375rem;
      left: 0.625rem;
    }
    &--input {
      border: 0.0625rem solid $text-border;
      border-radius: 0.25rem;
      width: 90vw;
      height: 3rem;
      padding-left: 2.1875rem;
      outline: none;
      &:placeholder-shown {
        padding-left: 2.1875rem;
        font-family: AvenirRegular;
      }
      &:hover {
        border: 0.0625rem solid $cta-hover;
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0 1rem;
    &--button {
      @include mobile-subheader;
      width: 14.125rem;
      background-color: $cta-text-link;
      border-color: $cta-text-link;
      border-radius: 0.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: $white;
      &:hover {
        background-color: $cta-hover;
        border-color: $cta-hover;
      }
    }
    &--image {
      margin-left: 1rem;
      .image {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }
    }
  }
}

@include medium {
  .header {
    height: 5rem;
    flex-direction: row;
    &__logo {
      width: 124px;
      margin-right: 10.5625rem;
    }
    &__search {
      &--input {
        width: 14.375rem;
        margin-right: 1.5rem;
      }
    }
    &__bottom {
      margin: unset;
      &--button {
        width: 6.25rem;
        .text {
          @include desk-tablet-subheader;
        }
      }
      &--image {
        margin-left: 1.5rem;
      }
    }
  }
}

@include huge {
  .header {
    border-bottom: unset;
    &__logo {
      width: 148px;
      margin-right: 31.8125rem;
    }
  }
}
