.hero {
  position: relative;
  &__video {
    height: 57vw;
    width: 100%;
    outline: none;
  }
}

@include medium {
  .hero {
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
    background-color: $black;
    height: 52vw;
    &__video {
      width: 91vw;
      height: 100%;
    }
  }
}

@include huge {
  .hero {
    padding: 0 11.25rem;
    height: 36vw;
    &__video {
      width: 66vw;
    }
  }
}
