.hero {
  position: relative;
  &__video {
    height: 57vw;
    width: 100%;
  }
  &__container {
    margin: 0 24px;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    // hello! I know we weren't required to, but I styled the icons because I had extra time. they don't have any functionality, so I plant to improve this for spring-two!
    &--icons {
      background-color: rgba(50, 50, 50, 0.7);
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 5px;
      &.flex-grow {
        flex-grow: 2;
        margin: 0 8px;
        position: relative;
      }
      &--middle-border {
        position: absolute;
        border: 2px solid $black;
        bottom: 12.5px;
        width: 85%;
      }
      &--img {
        margin: 0 10px;
      }
    }
  }
}

@include medium {
  .hero {
    display: flex;
    justify-content: center;
    padding: 0 24px;
    background-color: $black;
    height: 52vw;
    &__video {
      width: 91vw;
      height: 100%;
    }
  }
}

@include huge {
  .hero {
    padding: 0 180px;
    height: 36vw;
    &__video {
      width: 66vw;
    }
  }
}
