.highlights {
  margin: 2rem 1rem 2.5rem;
  &__title {
    @include mobile-header;
    margin-bottom: 1rem;
  }
  &__flex {
    border-bottom: 0.125rem solid $text-border;
  }
  &__container {
    display: flex;
    &--subtitle {
      @include mobile-subheader;
      margin-right: 0.5rem;
      margin-bottom: 2rem;
    }
    &--thin-label {
      @include mobile-labels;
      color: $text-label;
    }
    &--icon {
      margin-right: 0.5rem;
      margin-bottom: 1.5rem;
    }
    &--para {
      margin-right: 1rem;
      @include mobile-paragraph;
    }
  }
  &__para {
    @include mobile-paragraph;
    padding-top: 1.5rem;
  }
}

@include medium {
  .highlights {
    margin: 3rem 1.5rem 4rem;
    &__title {
      @include desk-tablet-header;
      margin-bottom: 1.5rem;
    }
    &__flex {
      display: flex;
      justify-content: space-between;
    }
    &__container {
      &--subtitle {
        @include desk-tablet-subheader;
      }
      &--thin-label {
        @include desk-tablet-labels;
      }
      &--para {
        @include desk-tablet-para-comment;
        margin-right: 1.5rem;
      }
    }
    &__para {
      @include desk-tablet-para-comment;
      padding-top: 2.5rem;
      width: 61%;
    }
  }
}

@include huge {
  .highlights {
    &__container {
      &--para {
        margin-right: 2rem;
      }
    }
    &__para {
      width: 70%;
    }
  }
}
