.next-video {
  margin: 2.5rem 1rem 0;
  &__title {
    @include mobile-labels;
    margin-bottom: 2.5rem;
    color: $text-label;
  }
  &__container {
    display: flex;
    text-decoration: none;
    &--img {
      height: 70px;
      width: 120px;
      margin-bottom: 1.5rem;
      margin-right: 1rem;
      border-radius: 0.25rem;
      object-fit: cover;
    }
    &--text {
      height: 4.375rem;
      max-width: 10.5rem;
      color: $para-and-nav;
      &:hover {
        color: $cta-hover;
      }
      .title {
        @include mobile-subheader;
        margin-bottom: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .creator {
        @include mobile-paragraph;
      }
    }
  }
}

@include medium {
  .next-video {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    &__title {
      @include desk-tablet-labels;
    }
    &__container {
      &--text {
        width: 24vw;
        .title {
          width: 11.125rem;
          overflow: unset;
          white-space: unset;
          margin-bottom: 0.3125rem;
        }
      }
    }
  }
}

@include huge {
  #huge-flex {
    display: flex;
    margin: 0 11.25rem;
    &__right {
      .next-video {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
